@font-face {font-family: no-continue; src: url('gomarice_no_continue.ttf');}



:root {

  --prim-clr: white;
  --sec-colr: black;
}




* {
  font-family: 'no-continue'
}

body {
  margin: 0;
  background-color: var(--prim-clr)
}


canvas {
  display: block;
  border: 1px solid black;
  max-height: calc(100vh - 120px);
  max-width: 95vw;
  margin: auto;
}

h1 {
  color: var(--sec-colr);
  font-size: 90px;
  text-align: center;
  margin: 30px;
}


span {
  color: var(--sec-colr);
  font-size: 40px;

}

